.jobs-page-container {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  min-height: 100vh;
}
.jobs-btm-container {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.job-profile-and-filter-container {
  width: 35%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  margin-right: 20px;
}
.job-search-and-cards-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.heading {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Roboto';
}

.search-input-container {
  border: 1px solid #cbd5e1;
  border-radius: 7px;
  width: 70%;
  display: flex;
}
.search-input {
  background-color: transparent;
  padding: 10px;
  width: 90%;
  border-width: 0px;
  outline: none;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
}
.search-button {
  border-width: 0px;
  background-color: #272727;
  padding: 10px;
  padding-right: 20px;
  outline: none;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.search-icon {
  height: 20px;
  width: 20px;
  color: #ffffff;
}
.jobs-cards-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.jobs-failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-img {
  width: 400px;
}
.jobs-retry-button {
  border-width: 0px;
  background-color: #4f46e5;
  padding: 10px;
  color: #ffffff;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Roboto';
  outline: none;
  cursor: pointer;
  width: 100px;
}

.failure-heading {
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Roboto';
  text-align: center;
}
.failure-discription {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
  text-align: center;
}
.profile-hr-line {
  width: 100%;
  color: #cbd5e1;
}
.check-box-contaienr {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.check-box-list {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.lable-text {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Roboto';
  margin-left: 10px;
}
.no-jobs-found {
  height: 500px;
  width: 600px;
}
